# 1. Python Output

In [ ]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [1]:
print('Rishabh joshi')

Rishabh joshi

In [2]:
print("rishabh", "joshi")

rishabh joshi

In [3]:
print(7)
print(type(7))

7
<class 'int'>

In [4]:
print(7.7)
print(type(7.7))

7.7
<class 'float'>

In [5]:
print(True)
print(type (True))

True
<class 'bool'>

In [6]:
print('Hello',1,4.5,True)
# string may contain various types of data types in it

Hello 1 4.5 True

In [24]:
# end and sep parameter 
print("Apples", "Orange", "Mango", sep=", ", end=" are fruits!\n")


print("my", "name", "is", "rishabh", "joshi")

Apples, Orange, Mango are fruits!
my name is rishabh joshi

In [ ]:
print('hello')
print('world')

hello
world

In [26]:
print('hello',end='-')
print('world')

hello-world

# 2. Data Types

In [ ]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [ ]:
# Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text/String
print('Hello World')

Hello World

In [ ]:
# complex
print(5+6j)

(5+6j)

In [ ]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [ ]:
# type
type([1,2,3])

list

# 3. Variables

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
# C/C++
name = 'nitish'
print(name)

a = 5
b = 6

print(a + b)

nitish
11

In [ ]:
# Dynamic Typing :- Dynamic typing is a feature of programming languages where the type of a variable is determined and checked during runtime, as opposed to compile time. This means that you don't have to explicitly declare the type of a variable when you write the code. The compiler or interpreter assigns a type to a variable based on its value during the execution of the programme.
a = 5
# Static Typing:- Static typing is a system in programming languages where the type of a variable is determined and checked during compile time. In static typing, variables are assigned a specific data type during the compilation process, and this type remains unchanged throughout the program's execution
int a = 5

In [ ]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
int a = 5

5
nitish

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

5 5 5

# Comments

In [ ]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

10

# 4. Keywords & Identifiers

#### keywords:- Keywords are reserved words in Python that have specific meanings and purposes and cannot be used as variable names, function names, or any other identifiers

In [1]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

Nitish
ntiish

# 5. User Input

In [1]:
# Static Vs Dynamic
# by default input from user is in string mode
input('Enter Email')

''

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number56
enter second number67
123
<class 'int'>

# 6. Type Conversion

## type casting :- converting from one data type into another data type

In [33]:
# two types of typecasting :- implicit and explicit typecasting
# implicit typecasting :- also called standard type conversion and does not require any special statements or keywords
print(5+5.6)
print(type(5),type(5.6))
print(type(10.6))    # class become float


# explicit typecasting:-involves manually converting a value from one data type to another using the casting operator
integr = 5
print(str(integr))
x = integr
print(type(str(x)))

10.6
<class 'int'> <class 'float'>
<class 'float'>
5
<class 'str'>

## 7. Literals :- Literals in Python are fixed values that represent constant data in a program

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

In [ ]:
# binary
x = 3.14j
print(x.imag)

3.14

In [34]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

#### Unicode is a standard for representing a wide range of characters, allowing Python programs to work with different possible characters. The Unicode specification aims to list every character used by human languages and give each one a unique code.

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

In [5]:
## escape sequence in python    
# \ - backslash used for escaping characters and escape object after it
print("it is rishabh\'s notebook")
print("it is rishabh's notebook")

it is rishabh's notebook
it is rishabh's notebook

In [3]:
print("my name is rishabh joshi ", "i read in class 12th", sep = " ", end = "\n")

my name is rishabh joshi  i read in class 12th

In [4]:
print("We are from \"IIT\" Madras")

We are from "IIT" Madras

### there are three types  of quotes :-
### 1) single quote
### 2) double quote
### 3) triple quote